manifest {
  name = 'SMILES2SIRIUS6_fp'
  author = 'Ida Rahu'
  homePage = 'https://github.com/RaHub4AI/SIRIUS_CSI_FingerID_fingerprints/tree/SIRIUS%2BCSIFingerID-v6'
  description = 'Nextflow pipeline for calculating SIRIUS+CSI:FingerID (version 6) fingerprints for chemicals based on their SMILES representations'
  mainScript = 'main.nf'
  version = '1.0.0'
  nextflowVersion = '24.04.3'
}

// Path to a file (.tsv) containing SMILES (column 'SMILES') of the chemicals
params.data = 'path/to/tsv/file/containing/SMILES'

// Defines the number of SMILES entries to be processed in each batch.
params.batch_size = 10000 

// Path to the file that maps calculated fingerprint features to SIRIUS+CSI:FingerID absolute indices
// TThis file was queried and retrieved using the SIRIUS-API SDKs (https://github.com/sirius-ms/sirius-client-openAPI)
params.sirius6_fingerid = './data/fingerid_data.txt'

// Directory where the output results will be saved.
params.results = 'path/to/results/folder'

// Docker container for the pipeline
process.container = 'quay.io/ida_rahu/sirius6_fp:v1.0.1'
apptainer.autoMounts = true

includeConfig './base.config'